 #page1{
	position:fixed;
	width:100%;
	top:0%;
	bottom:0%;
	left:0%;
	transition:3s;
	-webkit-transition:3s;
	opacity:0;
}

#logo{
	position:absolute;
	top:30%;
	width:100%;
	max-height:150px;
	left:0%;
	
	
}
#logo img{
	width:100%;
	max-width:500px;
	
}





#page2,#page3{
	position:fixed;
	width:100%;
	top:0%;
	bottom:0%;
	left:0%;
}
#page2{
	
}
#header{
	width:100%;
	height:15%;
	max-width:300px;
}
hr{
	border-bottom:4px solid darkcyan;
}
#header img{
	width:25%;
	height:100%;
	float:left;
	margin-left:3%;
	margin-top:1%;
}
#header_desc{
	width:60%;
	height:90%;
	float:left;
	margin-top:1%;
	
}
#right{
	float:right;
}
#icon_bar{
	width:100%;
	height:4%;
	line-height:15px;
	border-bottom:4px solid darkcyan;
}

#menu_icon{
	height:4%;
	width:15%;
	max-width:30px;
	position:absolute;
	right:12px;
	margin-top:0px;
	padding-top:0px;
}

.center1{
	position:relative;
	width:200%;
	height:60%;
	border-bottom:4px solid darkcyan;
	overflow-x:hidden;
	word-wrap:break-word;
	transition:0.5s;
	-webkit-transition:0.5s;
	margin-left:0%;
}

.center1 #p1, #p2{
	
	width:50%;
	float:left;
}

.center1 #p1 div,#p2 div{
	width:15%;
	float:left;
	line-height:50px;
	min-height:50px;
	background-color:darkkhaki;
	color:white;
	margin:3% 3% 3% 5.2%;
	text-align:center;
	border-radius:5px;
	font-size:20px;
	font-weight:bold;
}

#page3 #center{
	width:100%;
	height:60%;
	border-bottom:4px solid darkcyan;
	overflow-x:hidden;
	word-wrap:break-word;
	
}



#page3 #center #letter_title{
	width:100%;
	height:12%;
	line-height:30px;
	min-height:30px;
	text-align:center;
	margin:0%;
	border-radius:0px;
	background-color:white;
	color:darkcyan;
	font-size:15px;
	border-bottom:1px solid darkcyan;
}

#page3 #center #fruit_list{
	width:100%;
	height:85%;
	overflow:hidden;
	word-wrap:break-word;
	margin:0;
	padding:0;

}


#center #fruit_list #item{
	width:100%;
	height:20%;
	min-height:90px;
	border-bottom:2px solid lightgray;
	margin:0;
	padding:0;
	background-color:white;
	
}

#center #fruit_list #item div{
	float:left;
}

#page3 #center #fruit_list #item #image{
	width:30%;
	height:100%;
	float:left;
	margin:0;
	padding:0;
}

#page3 #center #fruit_list #item  #image img{
	width:100%;
	max-width:100px;
	max-height:90px;
}

#page3 #center #fruit_list #item  #detail{
	width:68%;
	height:90px;
	margin:0%;
	color:black;
	font-weight:100;
	white-space:nowrap;
}



#page3 #center #fruit_list #item #detail div{
	width:100%;
	height:50%;
	line-height:45px;
}


#page3 #center #fruit_list #item #detail img{
	float:right;
	
}

#footer{
	width:100%;
	height:16%;
}
#next{
	width:100%;
	height:40%;
	border-bottom:4px solid darkcyan;
	min-height:30px;
	
}
#next #btnNext,#btnBack{
	width:30%;
	height:80%;
	line-height:25px;
	max-width:80px;
	background-color:darkcyan;
	color:white;
	font-size:17px;
	text-align:center;
	border-radius:7px;
	float:right;
	border:3px solid white;
	
}

#btnBack{
	float:left;
}

#rundo{
	width:100%;
	height:40%;
}

#rundo img{
	width:100%;
	height:100%;
	max-width:300px;
}






.backward{
	margin-left:-100%;
}
